<ion-header></ion-header>
  <ion-content>
    <app-title-img testo="Benvenuto nel convertitore"></app-title-img>
    <ion-grid class="set-grid">
      
      
      <div>
        <ion-row class="ion-justify-content-around">
          <div>
            
            <ion-row>
              <ion-col class="ion-text-center "><h1>Gradi</h1></ion-col>
            </ion-row>
              <ion-row>
                <ion-item>
                  <app-input-conv (eventoUnita)="aggiornaUnita($event)" (eventoConversione)="notificaConversione($event)" [valore]="val1" unita="Celsius"></app-input-conv>
                </ion-item>
                <ion-col>

                </ion-col>
                <ion-item>
                  <app-input-conv (eventoUnita)="aggiornaUnita($event)" (eventoConversione)="notificaConversione($event)" [valore]="val2" unita="Fahrenheit"></app-input-conv>
                </ion-item>
              </ion-row>
          </div>
          <div> 
            <ion-row>
              <ion-col class="ion-text-center "><h1>Distanza</h1></ion-col>
            </ion-row>
            <ion-row>
              <ion-item>
                <app-input-conv (eventoUnita)="aggiornaUnita($event)" (eventoConversione)="notificaConversione($event)" [valore]="val3" unita="Chilometro"></app-input-conv>
              </ion-item>
              <ion-col>
                
              </ion-col>
              <ion-item>
                <app-input-conv (eventoUnita)="aggiornaUnita($event)" (eventoConversione)="notificaConversione($event)" [valore]="val4" unita="Miglia"></app-input-conv>
              </ion-item>
                <!--
              <ion-item>
                <ion-label position="stacked">Centimetro</ion-label>
                <ion-input clear-on-edit type="number" [(ngModel)]="val6" #misCen  name="misCen" (click)="clearValCen()" (keydown.enter)="getValCen(misCen.value)">{{displayValue6}}</ion-input>
              </ion-item>
              -->
            </ion-row>
          </div> 
        </ion-row>
        <ion-row>
          
          <ion-col style="text-align: center">
            <ion-button (click)="eventClick()" shape="round">Reset</ion-button>
          </ion-col>
        </ion-row>  
      </div>
        
      
    </ion-grid>
    
  </ion-content>
