<ion-header></ion-header>

<ion-content>
  <ion-row style="height: 5rem; ">
    <ion-col style="height: 5rem;" class="ion-text-center">
      <h6> {{titolo}} </h6>
    </ion-col>
  </ion-row>
  
    
    <ion-grid class="set-grid">
      
      
      <div>
        <ion-row class="ion-justify-content-around">
          <div>
            
            <ion-row>
              <ion-col class="ion-text-center "><h1>Gradi</h1></ion-col>
            </ion-row>
              <ion-row>
                
                <ion-item>
                  <ion-label position="stacked">Celsius</ion-label>
                  <ion-input clear-on-edit type="number" [(ngModel)]="val1" #misC name="misC" (click)="clearValC()" (keyup.enter)="getValC(misC.value)">{{displayValue2 | number : '1.0-2'}}</ion-input>
                </ion-item>

                <ion-item>
                  <ion-label  position="stacked">Fahrenheit </ion-label>
                  <ion-input clear-on-edit type="number" [(ngModel)]="val2" #misF  name="misF" (click)="clearValF()" (keydown.enter)="getValF(misF.value)">{{displayValue | number : '1.0-2'}} </ion-input>
                </ion-item>
                <!--
                <ion-item>
                  <ion-label  position="stacked">Kelvin </ion-label>
                  <ion-input clear-on-edit type="number" [(ngModel)]="val5" #misK  name="misK" (click)="clearValK()" (keydown.enter)="getValK(misK.value)">{{displayValue5 | number : '1.0-2'}} </ion-input>
                </ion-item>
                -->
              
              </ion-row>
          </div>
          <div> 
            <ion-row>
              <ion-col class="ion-text-center "><h1>Distanza</h1></ion-col>
            </ion-row>
            <ion-row>
              <ion-item>
                <ion-label position="stacked">Chilometri</ion-label>
                <ion-input clear-on-edit type="number" [(ngModel)]="val3" #misKm  name="misKm" (click)="clearValKm()" (keydown.enter)="getValKm(misKm.value)">{{displayValue4}}</ion-input><!-- se si aggiunge centimetri bisogna inserire questo "| number : '1.5-5'"
                                                                                                                                                                                                                per poter vedere il risultato di cm in km e cm in Mi altrimenti si può lasciare
                                                                                                                                                                                                                si potrebbe fare in modo che se si sta cercando di ottenere km e mi non c'è bisogno di usare "| number : '1.5-5'"
                                                                                                                                                                                                                se invece si sta cercando di ottenere cm si attiva-->
              </ion-item>
            
              <ion-item>
                <ion-label position="stacked">Miglia</ion-label>
                <ion-input clear-on-edit type="number" [(ngModel)]="val4" #misMi  name="misMi" (click)="clearValMi()" (keydown.enter)="getValMi(misMi.value)">{{displayValue3}}</ion-input>
              </ion-item>
                <!--
              <ion-item>
                <ion-label position="stacked">Centimetro</ion-label>
                <ion-input clear-on-edit type="number" [(ngModel)]="val6" #misCen  name="misCen" (click)="clearValCen()" (keydown.enter)="getValCen(misCen.value)">{{displayValue6}}</ion-input>
              </ion-item>
              -->
            </ion-row>
          </div> 
        </ion-row>
      </div>
        
      
    </ion-grid>
    
</ion-content>
