<ion-header>
  
</ion-header>

<ion-content> 

    <ion-row>
      <ion-col style="height:7rem">

      </ion-col>
    </ion-row>
  
    <div>
        
        <ion-row >
          <ion-col style="text-align: center;">
            <img src="../../../assets/icon/logo_devskill.png" alt="DevSkillLogo">
          </ion-col>
        </ion-row>
        

      
        <ion-row>
          <ion-col style="height:3rem">
    
          </ion-col>
        </ion-row>
        
      <form>
        <ion-grid class="set-grid">
          <ion-row style="height: 5rem;">
            <ion-col style="height: 5rem;" class="ion-text-center">
              <h6> Benvenuto </h6>
            </ion-col>
          </ion-row>


          
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">E-mail</ion-label>
                <ion-input id="usame" name="uname"></ion-input>
                <ion-icon slot="end" name="mail-sharp"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-label class="ion-padding" position="stacked"style="color:#979797; font-size: small;">Inserisci e-mail</ion-label>
          <ion-row>
            
          </ion-row>
          
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" id="pwd" name="pwd"></ion-input>
                <ion-icon slot="end" name="lock-closed"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-label class="ion-padding" position="stacked" style="color:#979797; font-size: small;">Inserisci password</ion-label>
            <div>
              <ion-row>
                <ion-col>
                 <ion-button shape="round">Register</ion-button>
                </ion-col>
                <ion-col style="text-align: right;">
                  <ion-button  shape="round">Login</ion-button>
                </ion-col>
              </ion-row>  
            </div>
          
        </ion-grid>
      </form>
    </div>



  
</ion-content>
