<ion-header>
  
</ion-header>

<ion-content> 
  
    
      
      <app-title-img testo="Benvenuto nella pagina di Login"></app-title-img>
      <form>
        <ion-grid class="set-grid">
          
          
          <ion-row>
            <ion-col>
              <app-input-item  id="e-mail" iValue="E-mail" iValue2="Inserisci e-mail" icon = "mail-sharp"></app-input-item>
            </ion-col>
          </ion-row>
          <ion-row>
            
            <ion-col>
              <app-input-item  id="pwd" iValue="Password" iValue2="Inserisci password" icon = "lock-closed"></app-input-item>
            </ion-col>
          </ion-row>
            <div>
              <ion-row>
                <ion-col>
                  <app-button-log-reg path = "/registration" logOrReg="Register"></app-button-log-reg>
                </ion-col>
                <ion-col style="text-align: right;">
                  <ion-button shape="round">Login</ion-button>
                </ion-col>
              </ion-row>  
            </div>
          
        </ion-grid>
      </form>
    



  
</ion-content>
