<ion-header></ion-header>

<ion-content>
    
    <app-title-img testo="Benvenuto nella pagina di registrazione"></app-title-img>
          
        <ion-grid class="set-grid">

          <ion-row>
            <ion-col>
            <app-input-item id="nome" iValue="Nome" iValue2="Inserisci nome" icon = "person-sharp"></app-input-item>
          </ion-col>
          <ion-col>
            <app-input-item  id="cognome" iValue="Cognome" iValue2="Inserisci cognome" icon = "person-sharp"></app-input-item>
          </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <app-input-item  id="e-mail" iValue="E-mail" iValue2="Inserisci e-mail" icon = "mail-sharp"></app-input-item>
            </ion-col>
          </ion-row>

            <ion-row>
              <ion-col>
                <app-input-item  id="pwd" iValue="Password" iValue2="Inserisci password" icon = "lock-closed"></app-input-item>
              </ion-col>
            </ion-row>

              <ion-row>
                <ion-col>
                  <app-input-item  id="cpwd" iValue="Conferma password" iValue2="Inserisci di nuovo la password" icon = "lock-closed"></app-input-item>
                </ion-col>
              </ion-row>
              <div>
                <ion-row style="justify-content:space-between">
                  <ion-col>
                    <app-button-log-reg path = "/login" logOrReg="Login"></app-button-log-reg>
                  </ion-col>
                  <ion-col>
                    <app-button-log-reg  logOrReg="Register"></app-button-log-reg>
                  </ion-col>
                </ion-row>  
              </div>
        </ion-grid>
        

</ion-content>